* {
        box-sizing: border-box;
        font: normal 900 20px Arial;
}
body {
        margin: 0;
}
#game-screen {
        margin: 10px;
        box-sizing: border-box;
        border: 2px solid black;
}
